@import url(https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Roboto+Flex:opsz,wdth,wght@8..144,69.1,100..1000&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS placed here will be applied to all skins */

/******************************************************************************************
********************************* Start user-edit variables *******************************
******************************************************************************************/

/*****************************************
****** START BASIC DESIGN VARIABLES ******
----------------------------------------*/
:root {
	--wiki-content-heading-font-family: "Jura", serif;
	--wiki-sidebar-heading-font-family: "Jura", serif;
	
	--wiki-content-border-radius: 0px;
	--wiki-sidebar-border-radius: var(--wiki-content-border-radius);
}
/*----------------------------------------
******* END BASIC DESIGN VARIABLES *******
*****************************************/

/*****************************************
****** START BASIC COLOR VARIABLES *******
----------------------------------------*/
:root,
/* Begin dark styles, delete from here to "end dark styles" if you don't want your wiki to support any dark themes (remove it from [[Mediawiki:Theme-definitions]] too, or ask wiki.gg staff for help doing this) */
/* FYI: .view- will affect any theme marked |kind=dark, */
/* individual themes are prefixed with .theme- instead   */
.view-dark {
	/**********************
	* Probably edit these * [ DARK VIEW ]
	***********************/
	--wiki-body-background-color: #2a2c29;
	--wiki-body-background-image: none;

	--wiki-content-background-color: oklch(from var(--wiki-body-background-color) 15% c h / 70%);
	--wiki-content-background-opacity: 100%;
	--wiki-content-border-color: #a4b388;

	--wiki-content-link-color: #ffba27; /* if changing this, remember to change --wiki-icon-to-link-filter as well!!! */
	--wiki-icon-to-link-filter: invert(70%) sepia(93%) saturate(581%) hue-rotate(342deg) brightness(92%) contrast(97%); /* put your --wiki-content-link-color into https://mrpie5.gitlab.io/css-filter-generator/ */

	/* [ DARK VIEW ] */
	--wiki-accent-color: #a4b388;
	--wiki-accent-label-color: #000;
	--wiki-accent-link-color: #c9911c;

	/**/
}

.theme-arctic {
	--wiki-body-background-color: #1f292b;
    --wiki-content-border-color:#8fb7c7;
    --wiki-accent-color: #92bec2;
    --wiki-content-link-color:#50bac5;
    --wiki-icon-to-link-filter: invert(66%) sepia(14%) saturate(1412%) hue-rotate(137deg) brightness(97%) contrast(89%); /* https://mrpie5.gitlab.io/css-filter-generator/ */
}

.theme-desert {
	--wiki-body-background-color: #3f3835;
    --wiki-content-border-color:#a98f5d;
    --wiki-accent-color: #f0caa2;
    --wiki-content-link-color:#ffbe6a;
    --wiki-icon-to-link-filter: invert(67%) sepia(81%) saturate(295%) hue-rotate(345deg) brightness(101%) contrast(103%); /* https://mrpie5.gitlab.io/css-filter-generator/ */
}

.theme-swamp{
	--wiki-body-background-color: #1a2519;
    --wiki-content-border-color:#8caf0e;
    --wiki-accent-color: #6bbe45;
    --wiki-content-link-color:#accd0e;
    --wiki-icon-to-link-filter: invert(74%) sepia(75%) saturate(2376%) hue-rotate(26deg) brightness(105%) contrast(89%);/* https://mrpie5.gitlab.io/css-filter-generator/ */
}

.theme-volcanic{
    --wiki-body-background-color:#1c1c1c;
    --wiki-content-border-color:#95100a;
    --wiki-accent-color:#a00202;
    --wiki-content-link-color:#afa0a0;
    --wiki-icon-to-link-filter:invert(84%) sepia(2%) saturate(1344%) hue-rotate(314deg) brightness(83%) contrast(70%);;
}

.theme-exotic {
    --wiki-body-background-color:#201e2b;
    --wiki-content-border-color:#a485d5;
    --wiki-accent-color:#a485d5;
    --wiki-content-link-color:#dcdbff;
    --wiki-icon-to-link-filter: invert(85%) sepia(9%) saturate(936%) hue-rotate(202deg) brightness(100%) contrast(103%);
}

.theme-future-neo{
    --wiki-body-background-color:#231934;
    --wiki-content-border-color:#8a3bb6;
    --wiki-accent-color:#8433d4;
    --wiki-content-link-color:#30aacf;
    --wiki-icon-to-link-filter:invert(74%) sepia(8%) saturate(6443%) hue-rotate(159deg) brightness(83%) contrast(94%);
}


/* End dark styles */

/*----------------------------------------
******* END BASIC COLOR VARIABLES ********
*****************************************/

/*****************************************
**** START ADVANCED COLOR VARIABLES ******
----------------------------------------*/

:root,
.view-dark {
	/*******************
	* Maybe edit these * [ DARK VIEW ]
	********************/
	--wiki-logo-invert: 0; /* set to 1 to invert logo color */

	--wiki-body-background-position: center;
	--wiki-body-background-size: auto;
	--wiki-body-background-repeat: repeat;
	--wiki-body-background-attachment: scroll;

	--wiki-content-background-color--secondary: color-mix(in oklch,var(--wiki-body-background-color) 95%, #ffffff5c);
	--wiki-content-text-color: #ededed;
	--wiki-content-link-color--visited: var(--wiki-content-link-color);
	--wiki-content-link-color--hover: var(--wiki-content-link-color);
	--wiki-content-redlink-color: #c5041b;

	--wiki-content-heading-color: color-mix(in srgb, white 100%, var(--wiki-accent-color)75%);
	--wiki-content-heading-border-color: var(--wiki-accent-color);

	--wiki-content-body-border-color: oklch(from var(--wiki-accent-color) 0.35 calc(c * 0.25) h);

	/* [ DARK VIEW ] */
	--wiki-navigation-background-color: var(--wiki-content-background-color--secondary);
	--wiki-navigation-border-color: var(--wiki-navigation-selected-border-color);
	--wiki-navigation-text-color: var(--wiki-content-link-color);
	--wiki-navigation-selected-background-color: var(--wiki-content-background-color);
	--wiki-navigation-selected-border-color: var(--wiki-content-border-color);
	--wiki-navigation-selected-text-color: var(--wiki-content-text-color);

	/* [ DARK VIEW ] */
	--wiki-neutral-color: var(--wiki-content-text-mix-color);
	--wiki-alert-color: #ff576a;
	--wiki-warning-color: #cf721c;
	--wiki-success-color: #13aa45;
	/**/

	/***********************************
	* Likely do not need to edit these * [ DARK VIEW ]
	************************************/
	--wiki-body-dynamic-color: #ffffff;
	--wiki-body-dynamic-color--inverted: #000000;
	--wiki-body-dynamic-color--secondary: #cccccc;
	--wiki-body-dynamic-color--secondary--inverted: #333333;

	--wiki-content-border-color--secondary: color-mix(in srgb, var(--wiki-content-border-color) 50%, transparent);
	--wiki-content-border-color--accent: color-mix(in srgb, var(--wiki-accent-color) 50%, transparent);
	--wiki-content-link-label-color: #000;
	--wiki-content-dynamic-color: #ffffff;
	--wiki-content-dynamic-color--inverted: #000000;
	--wiki-content-dynamic-color--secondary: #cccccc;
	--wiki-content-dynamic-color--secondary--inverted: #333333;
	/* [ DARK VIEW ] */
	--wiki-alert-label-color: #000000;
	--wiki-warning-label-color: #000000;
	--wiki-success-label-color: #000000;

	--wiki-icon-general-filter: invert(100%);
}

/*----------------------------------------
***** END ADVANCED COLOR VARIABLES *******
*****************************************/

/*****************************************
**** START ADVANCED DESIGN VARIABLES *****
----------------------------------------*/

:root {
	/***********************
	  start logo position 
	----------------------*/
	--wiki-is-top-logo: 1; /* 1 = center logo at the top of the page; 0 = logo at the top left of the page */
	
	--wiki-logo-file-width: 230; /* Width of the image file in px. Put a number without the letters `px`. */
	--wiki-logo-file-height: 50; /* Height of the image file in px. Put a number without the letters `px`. */	
	--wiki-logo-height: calc(var(--wiki-logo-file-height)*1px); /* Valid only when --wiki-is-top-logo is 1. The height the logo should be shown */
	--wiki-logo-margin: 70px; /* the width of margin below the logo. When --wiki-is-top-logo is 1, this is also the default value of --wiki-top-spacing */
	/*-----------------------
	   end logo position 
	***********************/
	
	--wiki-is-navigation-inside-content: 0; /* 0 = default navigation tabs layout; 1 = navigation tabs inside content box */

	--wiki-body-font-family: "Rubik",sans-serif;
	--wiki-content-firstheading-font-family: var(--wiki-content-heading-font-family); /* only apply to the main title of article */

	/****** the following length variables must have units specified even if 0, ignore the warning *****/
	
	--wiki-content-border-width: 1px;
	--wiki-sidebar-width: 10em; /* width of sidebar(#mw-panel) */
	--wiki-sidebar-portal-spacing: 1rem;
	--wiki-sidebar-border-width: var(--wiki-content-border-width);
	--wiki-navigation-border-radius: calc(var(--wiki-content-border-radius) - var(--wiki-is-navigation-inside-content)*2px); /* border radius of tabs */

	/*******************
	* Maybe edit these * [ DESIGN ]
	********************/
	
	--wiki-logo-filter: invert(var(--wiki-logo-invert, 0)) hue-rotate(calc(var(--wiki-logo-invert, 0)*180deg));
	
	/****** the following length variables must have units specified even if 0, ignore the warning *****/
	
	--wiki-content-border-top-radius: var(--wiki-content-border-radius);
	--wiki-content-border-style: solid;
	--wiki-content-border-image: none;
	--wiki-content-backdrop-filter: none;
	
	--wiki-page-content-max-width: 1600px; /* max width of sidebar+gap+content, must be a length value. A huge value can be used to indicate no limit, e.g. 99999px */
	--wiki-gap-between-sidebar-and-content: 1em; /* gap between sidebar(#mw-panel) and content(#content) */
	
	--wiki-sidebar-font-size: 0.85em; /* please use em or rem for this */
	--wiki-sidebar-line-height: 1.2;
	--wiki-sidebar-heading-font-size: 0.9em; /* please use em or rem for this */
	--wiki-sidebar-margin: 0em;
	--wiki-sidebar-list-item-padding: 0.25em 0.5rem;
	--wiki-sidebar-list-padding: 0.4rem;
	--wiki-sidebar-list-item-background--hover: none; /* background of hover item */

	--wiki-navigation-font-size: 0.8em; /* please use em or rem for this */
	--wiki-navigation-font-weight: 800; 
	--wiki-navigation-selected-font-weight: var(--wiki-navigation-font-weight);
	--wiki-navigation-text-transform: none;
	--wiki-navigation-height: 1rem; /* height of navigation area,include spacing above tabs */
	--wiki-navigation-left-spacing: calc( (1 - var(--wiki-is-navigation-inside-content))*var(--wiki-content-border-radius) + var(--wiki-is-navigation-inside-content) * 0.5rem );
	--wiki-navigation-right-spacing: calc( var(--wiki-is-navigation-inside-content) * 0.5rem );
	--wiki-navigation-box-background-color: var(--wiki-content-background-color);
	--wiki-navigation-box-background-opacity: calc(var(--wiki-content-background-opacity)*0.8*var(--wiki-is-navigation-inside-content));
	--wiki-navigation-box-background: color-mix(in srgb, var(--wiki-navigation-box-background-color) var(--wiki-navigation-box-background-opacity), transparent); /* usually only needed when --wiki-is-navigation-inside-content is 1 */
	--wiki-navigation-box-border-image: none; /* usually only needed when --wiki-is-navigation-inside-content is 1 */
	--wiki-navigation-box-backdrop-filter: none; /* usually only needed when --wiki-is-navigation-inside-content is 1 */
	--wiki-navigation-selected-backdrop-filter: var(--wiki-content-backdrop-filter);  /* usually only needed when --wiki-is-navigation-inside-content is 0 */
	--wiki-navigation-backdrop-filter: var(--wiki-navigation-selected-backdrop-filter);  /* usually only needed when --wiki-is-navigation-inside-content is 0 */
	
	/* nav tabs style. 
	 * If you want to use the vector gradient, use the following settings:
	 *    --wiki-navigation-background-image: linear-gradient(to bottom,transparent 0,var(--wiki-navigation-border-color) 100%), linear-gradient(to bottom,transparent 0,var(--wiki-navigation-border-color) 100%), linear-gradient(to top,var(--wiki-navigation-background-color) 0,var(--wiki-navigation-selected-background-color) 100%);
	 *    --wiki-navigation-selected-background-image: linear-gradient(to bottom,transparent 0,var(--wiki-navigation-selected-border-color) 100%), linear-gradient(to bottom,transparent 0,var(--wiki-navigation-selected-border-color) 100%);
	 *    --wiki-navigation-selected-border-width: 0px;
	 *    --wiki-navigation-selected-border-bottom-background: linear-gradient(to right, var(--wiki-navigation-selected-border-color) 0, var(--wiki-navigation-selected-border-color) 1px, transparent 1px), linear-gradient(to left, var(--wiki-navigation-selected-border-color) 0, var(--wiki-navigation-selected-border-color) 1px, transparent 1px);
	 *    --wiki-navigation-tab-spacing: -1px;
	 *    --wiki-navigation-tab-padding-top: 1.25em;
	 *    --wiki-navigation-tab-padding-bottom: 4px;
	 */
	--wiki-navigation-tab-spacing: -1px; /* width of the space between tabs, can be a negative number, in which case adjacent tabs will overlap  */
	--wiki-navigation-tab-padding-top: 1rem;
	--wiki-navigation-tab-padding-x: 0.6rem;
	--wiki-navigation-tab-padding-bottom: 0.4rem;
 	--wiki-navigation-selected-border-width: calc( (1 - var(--wiki-is-navigation-inside-content))*var(--wiki-content-border-width) + var(--wiki-is-navigation-inside-content) * 1px ); /* border width of selected tabs */
	--wiki-navigation-border-width: var(--wiki-navigation-selected-border-width); /* border width of normal tabs */
	--wiki-navigation-border-image: none;
	--wiki-navigation-selected-border-image: var(--wiki-navigation-border-image);
	--wiki-navigation-background-image: linear-gradient(to bottom,transparent 0,var(--wiki-navigation-border-color) 100%),
   linear-gradient(to bottom,transparent 0,var(--wiki-navigation-border-color) 100%);
	--wiki-navigation-background-repeat: no-repeat, no-repeat, repeat-x;
	--wiki-navigation-background-position: left bottom, right bottom, left bottom;
	--wiki-navigation-background-size:  1px 100%, 1px 100%, 100%;
	--wiki-navigation-selected-background-image: var(--wiki-navigation-background-image);
	--wiki-navigation-selected-background-repeat: no-repeat, no-repeat;
	--wiki-navigation-selected-background-position: left bottom, right bottom;
	--wiki-navigation-selected-background-size:  1px 100%, 1px 100%;
	--wiki-navigation-selected-border-bottom-background: none;
	
	/* affects the dropdown menu under More */
	--wiki-navigation-dropdown-text-color: var(--wiki-navigation-text-color);
	--wiki-navigation-dropdown-text-color--hover: var(--wiki-navigation-dropdown-text-color);
	--wiki-navigation-dropdown-font-size: var(--wiki-navigation-font-size); /* please use em or rem for this */
	--wiki-navigation-dropdown-border-width: 1px;
	--wiki-navigation-dropdown-border-radius: var(--wiki-navigation-border-radius);
	--wiki-navigation-dropdown-padding: 0.25em; /* padding of the dropdown menu box */
	--wiki-navigation-dropdown-item-padding: 0.625em; /* padding of each dropdown menu items */
	--wiki-navigation-dropdown-item-background--hover: none; /* background of hover item */
	--wiki-navigation-dropdown-border-image: none;
	--wiki-navigation-dropdown-backdrop-filter: blur(5px);
	--wiki-navigation-dropdown-box-shadow: none; /* box shadow */
	
	/* styles of the footer */
	--wiki-spacing-before-footer: 1rem;
	--wiki-footer-border-image: none;

	/* padding on body element */
	--wiki-top-spacing: calc(var(--wiki-is-top-logo)*var(--wiki-logo-margin) + (1 - var(--wiki-is-top-logo))*1em); /* extra spacing below wiki.gg netbar */
	--wiki-left-spacing: 1em;
	--wiki-right-spacing: 1em;
	--wiki-bottom-spacing: 2em;

	/* padding on content-element */
	--wiki-content-top-spacing:1.25em;
	--wiki-content-left-spacing:1.5em;
	--wiki-content-right-spacing:1.5em;
	--wiki-content-bottom-spacing:1.5em;

	/* end design variables */
}

/*----------------------------------------
***** END ADVANCED DESIGN VARIABLES ******
*****************************************/


/*******************************
**** START SHARED VARIABLES ****
**** tl;dr: don't edit this ****
********************************/
/*
	These variables are rarely touched, usually inherit other variables, and are shared on all themes.
	In 99% of cases none of these are ever edited, and you should only be doing so if you have a very clear vision,
	understand what you are doing, and *know* that what you are trying to do is not accomplished by changing
	another variable in the above sections.
	Since these are by default shared across all themes, if you support multiple themes you'll probably want to
	separate the variables you want to modify here into .view-x blocks like above. If you don't understand
	what that means or how to do that then you probably shouldn't be modifying this section.
*/
:root {
	--wiki-content-border-bottom-width: calc(min(var(--wiki-content-border-width), 1px));
	--wiki-content-border-bottom-style: var(--wiki-content-border-style);
	--wiki-content-border-bottom-color: var(--wiki-content-border-color);
	--wiki-content-text-mix-color: color-mix(in srgb, var(--wiki-content-background-color), var(--wiki-content-text-color) 62%);
	--wiki-content-text-mix-color-95: color-mix(in srgb, var(--wiki-content-background-color) 95%, var(--wiki-content-text-color));
	--wiki-content-text-color--hover: var(--wiki-content-text-color);

	/* heading */
	--wiki-content-heading-border-bottom-width: 1px;
	--wiki-content-heading-border-style: solid;
	--wiki-content-heading-font-weight: normal;
	--wiki-content-heading-font-style: normal;
	--wiki-content-heading-text-transform: uppercase;
	--wiki-content-heading-line-height: normal;
	--wiki-content-heading-text-shadow: none;
	/* first heading (h1) */
	--wiki-content-firstheading-border-bottom-width: var(--wiki-content-heading-border-bottom-width);
	--wiki-content-firstheading-border-style: var(--wiki-content-heading-border-style);
	--wiki-content-firstheading-border-color: var(--wiki-content-heading-border-color);
	--wiki-content-firstheading-font-weight: var(--wiki-content-heading-font-weight);
	--wiki-content-firstheading-font-style: var(--wiki-content-heading-font-style);
	--wiki-content-firstheading-text-transform: var(--wiki-content-heading-text-transform);
	--wiki-content-firstheading-line-height: var(--wiki-content-heading-line-height);
	--wiki-content-firstheading-color: var(--wiki-content-heading-color);
	--wiki-content-firstheading-text-shadow: none;
	/* sub-heading (h3, h4, h5, h6) */
	--wiki-content-subheading-border-bottom-width: 0px;
	--wiki-content-subheading-border-style: var(--wiki-content-heading-border-style);
	--wiki-content-subheading-border-color: var(--wiki-content-heading-border-color);
	--wiki-content-subheading-font-family: var(--wiki-body-font-family);
	--wiki-content-subheading-font-weight: bold;
	--wiki-content-subheading-font-style: normal;
	--wiki-content-subheading-text-transform: none;
	--wiki-content-subheading-line-height: var(--wiki-content-heading-line-height);
	--wiki-content-subheading-color: var(--wiki-content-heading-color);
	--wiki-content-subheading-text-shadow: none;
	/* heading size */
	--wiki-content-firstheading-font-size: 1.8em;
	--wiki-content-heading-h2-font-size: 1.5em;
	--wiki-content-heading-h3-font-size: 1.2em;
	--wiki-content-heading-h4-font-size: 114%;
	--wiki-content-heading-h5-font-size: 108%;
	--wiki-content-heading-h6-font-size: 100%;

	--wiki-content-toc-background: var(--wiki-content-background-color--secondary);
	--wiki-content-toc-border-width: 1px;
	--wiki-content-toc-border-style: solid;
	--wiki-content-toc-border-color: var(--wiki-accent-color);
	--wiki-content-toc-border-radius: 0px;
	--wiki-content-toc-border-image: none;
	--wiki-content-toc-box-shadow: none;
	--wiki-content-toc-heading-font-family: var(--wiki-body-font-family);

	--wiki-content-catlinks-background: var(--wiki-content-background-color--secondary);
	--wiki-content-catlinks-border-width: 1px;
	--wiki-content-catlinks-border-style: solid;
	--wiki-content-catlinks-border-color: var(--wiki-content-body-border-color);
	--wiki-content-catlinks-border-radius: 0px;
	--wiki-content-catlinks-border-image: none;
	--wiki-content-catlinks-box-shadow: none;

	--wiki-content-filetoc-background: var(--wiki-content-background-color--secondary);
	--wiki-content-filetoc-border-width: 1px;
	--wiki-content-filetoc-border-style: solid;
	--wiki-content-filetoc-border-color: var(--wiki-content-body-border-color);
	--wiki-content-filetoc-border-radius: 0px;
	--wiki-content-filetoc-border-image: none;
	--wiki-content-filetoc-box-shadow: none;

	--wiki-logo-offset-x: 0px;
	--wiki-logo-offset-y: 0px;
	
	--wiki-sidebar-padding: 0px;
	--wiki-sidebar-background-color: var(--wiki-content-background-color);
	--wiki-sidebar-background-opacity: var(--wiki-content-background-opacity);
	--wiki-sidebar-background-image: none;
	--wiki-sidebar-background-position: center;
	--wiki-sidebar-background-repeat: repeat;
	--wiki-sidebar-background-size: auto;
	--wiki-sidebar-box-shadow: none;
	--wiki-sidebar-filter: none;
	--wiki-sidebar-backdrop-filter: var(--wiki-content-backdrop-filter);
	--wiki-sidebar-border-color: var(--wiki-content-border-color);
	--wiki-sidebar-border-style: solid;
	--wiki-sidebar-border-image: none;
	--wiki-sidebar-link-color: var(--wiki-content-link-color);
	--wiki-sidebar-link-color--hover: var(--wiki-content-link-color--hover);
	--wiki-sidebar-heading-color: var(--wiki-content-heading-color);
	--wiki-sidebar-heading-font-weight: normal;
	--wiki-sidebar-heading-font-style: normal;
	--wiki-sidebar-heading-text-transform: uppercase;
	--wiki-sidebar-heading-line-height: normal;
	--wiki-sidebar-heading-padding: 0.5rem 0.25rem 0.5rem 0.5rem;
	--wiki-sidebar-heading-margin: 0px 0px 0.5rem 0px;
	--wiki-sidebar-heading-background: none;
	--wiki-sidebar-heading-border-image: none;
	--wiki-sidebar-heading-text-shadow: none;
	--wiki-sidebar-list-background: none;
	--wiki-sidebar-list-border-image: none;
	--wiki-sidebar-list-margin: 0px;
	--wiki-sidebar-list-item-background: none;
	--wiki-sidebar-list-item-border-image: none;
	--wiki-sidebar-list-item-background--hover: none;
	--wiki-sidebar-list-item-border-image--hover: none;
	--wiki-sidebar-list-item-spacing: 0px;
	--wiki-sidebar-icon-to-link-filter: var(--wiki-icon-to-link-filter);
	--wiki-sidebar-offset: 0px; /* Vertical offset */
	--wiki-sidebar-box-padding: 0px;
	--wiki-sidebar-box-background: none;
	--wiki-sidebar-box-border: 0px;
	--wiki-sidebar-box-border-radius: var(--wiki-sidebar-border-radius);
	--wiki-sidebar-box-border-image: none;
	
	--wiki-accent-color--hover: color-mix(in srgb, var(--wiki-accent-color) 90%, var(--wiki-accent-label-color));

	--wiki-footer-border-width: var(--wiki-content-border-width);
	--wiki-footer-border-style: var(--wiki-content-border-style);
	--wiki-footer-border-color: var(--wiki-content-border-color);
	--wiki-footer-background-color: var(--wiki-content-background-color);
	--wiki-footer-background-opacity: var(--wiki-content-background-opacity);
	--wiki-footer-backdrop-filter: var(--wiki-content-backdrop-filter);
	--wiki-footer-text-color: var(--wiki-content-text-color);
	--wiki-footer-link-color: var(--wiki-content-link-color);
	--wiki-footer-link-color--hover: var(--wiki-content-link-color--hover);
	--wiki-footer-border-radius: var(--wiki-content-border-radius);

	--wiki-navigation-background-opacity: var(--wiki-navigation-selected-background-opacity);
	--wiki-navigation-background-color--hover: var(--wiki-navigation-background-color);
	--wiki-navigation-background-opacity--hover: var(--wiki-navigation-background-opacity);
	--wiki-navigation-background-image--hover: var(--wiki-navigation-background-image);
	--wiki-navigation-background-position--hover: var(--wiki-navigation-background-position);
	--wiki-navigation-background-repeat--hover: var(--wiki-navigation-background-repeat);
	--wiki-navigation-background-size--hover: var(--wiki-navigation-background-size);
	--wiki-navigation-text-color--hover: var(--wiki-content-link-color--hover);
	--wiki-navigation-text-shadow: 1px 1px 1px oklch(from var(--wiki-content-link-color) 100%, 0.2,0.2);
	--wiki-navigation-selected-text-shadow: var(--wiki-navigation-text-shadow);
	--wiki-navigation-text-shadow--hover: var(--wiki-navigation-text-shadow);
	--wiki-navigation-filter: none;
	--wiki-navigation-selected-filter: var(--wiki-navigation-filter);
	--wiki-navigation-transform--hover: none;
	--wiki-navigation-selected-border-style: solid;
	--wiki-navigation-selected-background-opacity: var(--wiki-content-background-opacity);
	--wiki-navigation-border-style: solid;
	--wiki-navigation-border-color--hover: var(--wiki-navigation-border-color);
	--wiki-navigation-border-image--hover: var(--wiki-navigation-border-image);
	--wiki-navigation-border-bottom-color: var(--wiki-navigation-selected-border-color);
	--wiki-navigation-border-bottom-color--hover: var(--wiki-navigation-border-color--hover); /* change this color to transparent to make it behave like a selected tab */
	--wiki-navigation-border-bottom-style: var(--wiki-navigation-selected-border-style);
	--wiki-navigation-border-bottom-width: calc(var(--wiki-is-navigation-inside-content, 0) * var(--wiki-navigation-selected-border-width, 1px) + (1 - var(--wiki-is-navigation-inside-content, 0)) * var(--wiki-content-border-width, 1px));
	--wiki-navigation-icon-size: 1em;
	--wiki-navigation-tab-padding-x--icon: var(--wiki-navigation-tab-padding-x);
	--wiki-navigation-bottom-spacing: 0px; /* If you change this to greater than 0px, you should usually change the value of --wiki-navigation-selected-border-bottom-background to var(--wiki-navigation-border-bottom-color) */

	--wiki-navigation-dropdown-background-color: color-mix(var(--wiki-body-background-color) 100%, rgba(0, 0, 0, 0.5) 100%);
	--wiki-navigation-dropdown-background-opacity: var(--wiki-content-background-opacity);
	--wiki-navigation-dropdown-border-color: var(--wiki-navigation-border-color);
	--wiki-navigation-dropdown-offset: 0px; /* vertical offset */

	--wiki-navigation-search-background-color: var(--wiki-content-background-color--secondary);
	--wiki-navigation-search-background-image: none;
	--wiki-navigation-search-background-position: 0;
	--wiki-navigation-search-background-size: auto;
	--wiki-navigation-search-background-repeat: repeat;
	--wiki-navigation-search-backdrop-filter: none;
	--wiki-navigation-search-border-color: var(--wiki-navigation-border-color);
	--wiki-navigation-search-border-color--hover: var(--wiki-accent-color);
	--wiki-navigation-search-border-style: solid;
	--wiki-navigation-search-border-width: 1px;
	--wiki-navigation-search-border-radius: 2px;
	--wiki-navigation-search-border-image: none;
	--wiki-navigation-search-border-image--hover: var(--wiki-navigation-search-border-image);
	--wiki-navigation-search-box-shadow: none;
	--wiki-navigation-search-box-shadow--hover: var(--wiki-navigation-search-box-shadow);
	--wiki-navigation-search-text-color: var(--wiki-content-text-color);
	--wiki-navigation-search-font-size: var(--wiki-navigation-font-size);
	--wiki-navigation-search-height: 2em;
	--wiki-navigation-search-button-color: currentColor;
	--wiki-navigation-search-button-color--hover: var(--wiki-navigation-search-button-color);
	--wiki-navigation-search-button-color-opacity: 80%;
	--wiki-navigation-search-button-color-opacity--hover: 95%;
	--wiki-navigation-search-bottom-spacing: 3px;
	--wiki-navigation-search-highlight-background-color: color-mix(in srgb, var(--wiki-accent-color) 5%, transparent);
	--wiki-navigation-gap-between-left-and-right: calc(max(0px, var(--wiki-navigation-tab-spacing))); /* minimum width between #left-navigation and #right-navigation before tabs start to collapse */
}

/*** mobile adjustments ***/
@media screen and (max-width: 720px) {
	body.has-vector-mobile-menu{
		--wiki-sidebar-offset: 1rem; /* Vertical offset */
		--wiki-sidebar-box-background :#0a0b0ad4;
		--wiki-sidebar-margin: 1rem;
		--wiki-sidebar-heading-background: none;
		--wiki-sidebar-heading-border-image: none;
		--wiki-sidebar-heading-margin: 0px 0px -0.5em 0px;
		--wiki-sidebar-list-margin: 0px;
	    --wiki-sidebar-list-padding: 1rem 0.4rem 0.6rem 0.4rem;
		--wiki-sidebar-list-background: none;
		--wiki-sidebar-list-border-image: none;
		--wiki-sidebar-list-item-background: none;
		--wiki-sidebar-list-item-border-image: none;
		--wiki-sidebar-list-item-background--hover: none;
		--wiki-sidebar-list-item-border-image--hover: none;
		--wiki-sidebar-list-item-spacing: 0px;
		--wiki-sidebar-line-height: 1.125;
		--wiki-sidebar-background-opacity: 100%;
		--wiki-navigation-search-border-width: 1px;
		--wiki-logo-offset-x: 0px;
		--wiki-logo-offset-y: 0px;
	}
}


/*****************************
**** END SHARED VARIABLES ****
******************************/

/******************************************************************************************
********************************* End user-edit variables *********************************
******************************************************************************************/

/******************************
* Fallback for older browsers *
* DONT EDIT THIS              *
*******************************/
@supports not (color:color-mix(in srgb, #000, transparent)) {
	.view-dark,
	.view-light,
	:root {
		--wiki-content-text-mix-color: var(--wiki-content-text-color);
		--wiki-content-text-mix-color-95: var(--wiki-content-background-color);
		--wiki-content-background-color--secondary: var(--wiki-content-dynamic-color--secondary--inverted);
		--wiki-content-border-color--secondary: var(--wiki-content-border-color);
		--wiki-content-border-color--accent: var(--wiki-accent-color);
		--wiki-accent-color--hover: var(--wiki-accent-color);
		--wiki-navigation-search-highlight-background-color: transparent;
	}
}

/*****************************
* End older browser fallback *
******************************/

/*****************************
*     PortableInfoboxes      *
******************************/
:root {
	--pi-background: var(--wiki-content-background-color);
	--pi-secondary-background: var(--wiki-accent-color);
	--pi-secondary-background-label: var(--wiki-accent-label-color);
	--pi-border-color: color-mix(in srgb, var(--pi-secondary-background) 50%, transparent);
}

.portable-infobox .pi-title,
.portable-infobox .pi-header {
	text-align: center;
	font-size: 1.5em;
	background: color-mix(in srgb, var(--pi-secondary-background) 75%, transparent);
	color: var(--pi-secondary-background-label);
}

.portable-infobox .pi-data,
.portable-infobox .pi-group {
	background: var(--wiki-content-background-color--secondary);
}

.portable-infobox .pi-image {
	padding: 8px;
}

.pi-image-thumbnail {
	max-width: 100%;
}

.pi-caption {
	color: var(--wiki-content-text-mix-color);
}

.pi-section-navigation .pi-section-tab.pi-section-active,
.pi-section-navigation .pi-section-tab.current,
.pi-media-collection .pi-tab-link.current {
	background: var(--pi-secondary-background);
	color: var(--pi-secondary-background-label);
}

.pi-collapse > .pi-item:first-child {
	cursor: pointer;
}

/* overqualify these to overwrite normal content heading styles */
.mw-body .portable-infobox h2,
.mw-body .portable-infobox h3 {
	border-bottom: 0;
	font-family: inherit;
	font-weight: 700;
	margin: 0;
}

/*****************************
*   End PortableInfoboxes    *
******************************/


/***********************
* [[Template:MP link]] *
************************/
.mp-links {
	--gap: 10px;
	--mp-link-nested-indent: 1.5em;
}

.mp-links ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 2px;
	gap: var(--gap);
}

.mp-links ul > li {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	text-align: center;
	box-sizing: border-box;
	flex: max(calc(50% - var(--gap)), 5em) 1 1;
	outline: 1px solid var(--wiki-content-link-color);
	transition: 0.1s ease-in;
}

.mp-links.columns-1 ul > li {flex: max(calc(100% - var(--gap)), 5em) 1 1;}
.mp-links.columns-2 ul > li {flex: max(calc(50% - var(--gap)), 5em) 1 1;}
.mp-links.columns-3 ul > li {flex: max(calc((100% / 3) - var(--gap)), 5em) 1 1;}
.mp-links.columns-4 ul > li {flex: max(calc(25% - var(--gap)), 5em) 1 1;}
.mp-links.columns-5 ul > li {flex: max(calc(20% - var(--gap)), 5em) 1 1;}
.mp-links.columns-6 ul > li {flex: max(calc((100% / 6) - var(--gap)), 5em) 1 1;}
.mp-links.columns-7 ul > li {flex: max(calc((100% / 7) - var(--gap)), 5em) 1 1;}
.mp-links.columns-8 ul > li {flex: max(calc((100% / 8) - var(--gap)), 5em) 1 1;}
.mp-links.columns-max ul > li {flex: max(calc(0% - var(--gap)), 5em) 1 1;}

.mp-links ul > li > a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 5px;
}

.mp-links ul > li:has(> a:hover) > a {
	/* this selector probably seems weird compared to just li:hover > a, but this is necessary to support nesting */
	background-color: color-mix(in srgb, var(--wiki-content-link-color) 20%, transparent);
	text-decoration: underline;
}

/* nesting */
.mp-links ul > li > ul {
	margin:var(--gap);
	flex:0 0 100%;
	max-width:calc(100% - (var(--gap) * 2));
	padding: calc(var(--gap) * 2) 0;
	padding-left:var(--mp-link-nested-indent);
	box-sizing:border-box;
}
	
.mp-links ul > li > ul > li {
	margin-right:calc(var(--gap) * 2);
}
	
.mp-links:not(.plain) ul > li > ul {
	background-color:var(--background-color-interactive);
}
/**/

/* additional classes */
.mp-links.stretch,
.mp-links.stretch ul {
	height: 100%;
}

.mp-links.plain ul > li {
	outline-width: 0px;
}

.mp-links.side-image li {
	flex-flow: row wrap;
}

.mp-links.side-image.left li a {
	justify-content: flex-start;
}

.mp-links.side-image.left li a:first-child:not(:only-child) {
	flex:0 0 auto;
}

.mp-links.side-image.right li {
	flex-direction:row-reverse
}

.mp-links.side-image.right li a {
	justify-content: flex-end;
}

.mp-links.side-image.right li a:first-child:not(:only-child) {
	flex:0 0 auto;
}

.mp-links.side-image.center li a {
	flex-basis:50%;
}

.mp-links.side-image.center li a:first-child {
	justify-content:flex-end;
}

.mp-links.side-image.center li a:first-child img {
	margin:initial;
}

.mp-links.side-image.center li a:last-child {
	justify-content: flex-start;
}

.mp-links.side-image.center li a:only-child {
	justify-content:center;
}

/***********************
* End Template:MP link *
************************/


/*********************************************************************************************************************
* Semantically-correct horizontal lists (for Module:Navbox, and they're more machine-readable than {{*}}-formatting) *
**********************************************************************************************************************/
.hlist dl,
.hlist ol,
.hlist ul {
	margin: 0;
	padding: 0;
}

/* Display list items inline */
.hlist dd,
.hlist dt,
.hlist li {
	/*
	 * don't trust the note that says margin doesn't work with inline
	 * removing margin: 0 makes dds have margins again
	 * We also want to reset margin-right in Minerva
	 */
	margin: 0;
	display: inline;
}

/* Display requested top-level lists inline */
.hlist.inline,
.hlist.inline dl,
.hlist.inline ol,
.hlist.inline ul,
	/* Display nested lists inline */
.hlist dl dl,
.hlist dl ol,
.hlist dl ul,
.hlist ol dl,
.hlist ol ol,
.hlist ol ul,
.hlist ul dl,
.hlist ul ol,
.hlist ul ul {
	display: inline;
}

/* Hide empty list items */
.hlist .mw-empty-li {
	display: none;
}

/* TODO: :not() can maybe be used here to remove the later rule. naive test
*  seems to work. more testing needed. like so: */
.hlist dt:not(:last-child)::after {
	content: ":\20";
}

.hlist dd:not(:last-child)::after,
.hlist li:not(:last-child)::after {
	/* "space, Middle Dot, space"
	We use unicode numbers instead of the raw characters due to a Firefox encoding bug on unicode characters.
	The space is also encoded because raw spaces combined with a unicode number strips the spaces under some conditions such as single-line lists */
	/* content: "\20\00B7\20"; font-weight: bold; */
	/* "space &nbsp; • &nbsp; space"
	   There may (and likely) be an extra whitespace between <li>s,
	   therefore we have to use a space character as last character of this sequence.
	   By this way, the last space and the next whitespace will collapse as a single space,
	   to make the whitespace on both sides of the middle dot the same width.
	*/
	content: "\20\A0\2022\A0\20";
	font-weight: inherit;
}

/* Add parentheses around nested lists */
.hlist dd ol::before,
.hlist dd ul::before,
.hlist dd dl::before,
.hlist dt ol::before,
.hlist dt ul::before,
.hlist dt dl::before,
.hlist li ol::before,
.hlist li ul::before,
.hlist li dl::before {
	content: "\20(";
	font-weight: inherit;
}

.hlist dd ol::after,
.hlist dd ul::after,
.hlist dd dl::after,
.hlist dt ol::after,
.hlist dt ul::after,
.hlist dt dl::after,
.hlist li ol::after,
.hlist li ul::after,
.hlist li dl::after {
	content: ")";
	font-weight: inherit;
}

/* Put ordinals in front of ordered list items */
.hlist ol {
	counter-reset: listitem;
}

.hlist ol > li {
	counter-increment: listitem;
}

.hlist ol > li::before {
	content: " " counter(listitem) ".\20";
}

/* Progressive enhancement:
*  try to make the dot always follow the list item in same line
*/
.hlist :is(li,dt,dd):not(:has(:is(li,dt,dd))) {
	display: inline-block;
}

/********************************************
* End semantically-correct horizontal lists *
*********************************************/

/*** Miscellaneous ***/
.responsive-image {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

.view-dark .invert-on-dark,
.view-light .invert-on-light {
	filter: invert(100%);
}

.pixelated {
	image-rendering: pixelated;
}

@media screen and (min-width: 720px) {
	.mobileonly {
		display: none;
	}
}

@media screen and (max-width: 720px) {
	.nomobile {
		display: none;
	}
}

/*** Utility classes for standard MW galleries ***/
/* it's important that spaced comes before centered in the sheet */
.gallery.gallery.gallery.spaced { /* this selector looks ridiculous but is actually part of stock Vector and therefore a necessary override */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin-left: unset;
}

.gallery.centered {
	text-align: center;
}

/**************************
* Start Modular Templates *
**************************/

/********* [[Template:Ambox]] *********/
.ambox {
	--ambox-color: var(--wiki-accent-color);

	border: 1px solid var(--wiki-content-border-color);
	border-left: 10px solid var(--ambox-color);
	border-radius: 2px;
	display: flex;
	align-items: center;
	gap: .6em;
	margin: 1em 0;
	padding: 3px .6em;
	background-color: var(--wiki-content-background-color--secondary);
	box-shadow: 2px 2px 5px 0px #0002;
}

@media (min-width: 720px) {
	.ambox {
		margin-inline: 10%;
	}
}

.ambox.tiny {
	padding: .04rem .5em;
	margin-inline: 0;
	width: fit-content;
}

.ambox + .ambox {
	margin-top: -.6em;
}

.ambox-content {
	flex: 1;
}

.ambox-content p {
	margin: .15em 0;
}

.ambox-title {
	font-weight: bold;
}

/********* [[Template:Hatnote]] *********/
.hatnote {
	padding: 1px 0 1px 1.6em;
	margin-bottom: 0.5em;
	font-style: italic;
	border-top: 1px solid var(--wiki-content-border-color--secondary);
	border-bottom: 1px solid var(--wiki-content-border-color--secondary);
}

.hatnote.icon {
	padding-left: 0;
}

/********* [[Template:Spoiler]] *********/
.spoiler-content {
	background-color: color-mix(in srgb, var(--wiki-content-dynamic-color) 50%, transparent);
	transition: all 0.3s;
	cursor: pointer;
	overflow: auto;
}

@supports not (color:color-mix(in srgb, #000, transparent)) {
	.spoiler-content {
		background-color: var(--wiki-content-dynamic-color--secondary);
	}	
}

.spoiler-content > * {
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;
}

.spoiler-content.show {
	background-color: transparent;
}

.spoiler-content.show > * {
	pointer-events: unset;
	opacity: 1;
}

/********* [[Template:Link icon]] *********/
.link-icon {
	--link-icon-line-height: 1.5em;
	--link-icon-size: 1.5em;
	display: inline-flex;
	align-items: center;
	height: var(--link-icon-line-height);
	vertical-align: bottom;
}

.link-icon .regular {
	align-self: center;
}

.link-icon .regular a {
	display: flex;
}

.link-icon .regular img {
	height: var(--link-icon-size);
	max-width: var(--link-icon-size);
}

.link-icon .fallback {
	outline: 1px solid var(--wiki-content-text-color);
	border-radius: 50%;
	text-align: center;
	width: var(--link-icon-size);
	line-height: var(--link-icon-size);
}

.link-icon.notext,
.link-icon.notext .fallback {
	display: inline-block;
}

/********* [[Template:Quote]] *********/
.quote {
	background: var(--wiki-content-background-color--secondary);
	border-radius: 5px;
	border: 2px solid var(--wiki-content-border-color);
	margin: .5em 0;
	padding: .5em;
	overflow-y: hidden;
}

.quote .block {
	display: block;
}

.quote .title {
	font-size: large;
	font-weight: bold;
}

.quote .author {
	font-weight: bold;
	text-align: end;
}

.quote .marks-wrapper {
	display: flex;
	gap: 5px;
}

.quote .marks-wrapper::before,
.quote .marks-wrapper::after {
	font-size: 100px;
	line-height: 0px;
}

.quote .marks-wrapper::before {
	content: "\201C";
	margin-top: 40px;
}

.quote .marks-wrapper::after {
	content: "\201D";
	align-self: end;
	margin-bottom: -10px;
}

.client-js .mw-charinsert-item {
	display: none;
}

/************************
* End Modular Templates *
*************************/

/*****************************
* Used by [[Template:Color]] *
******************************/
.color__splotch {
	display: inline-block;
	height: 1em;
	width: 1em;
	box-sizing: border-box;
	vertical-align: text-top;
	border-radius: 50%;
	border: 1px solid var(--wiki-content-text-color);
}

/*********************
* End Template:Color *
**********************/

/*********************************
* Used by [[Template:TOC limit]] *
**********************************/
.toclimit-2 .toclevel-1 ul,
.toclimit-3 .toclevel-2 ul,
.toclimit-4 .toclevel-3 ul,
.toclimit-5 .toclevel-4 ul,
.toclimit-6 .toclevel-5 ul,
.toclimit-7 .toclevel-6 ul {
	display: none;
}
/*************************
* End Template:TOC limit *
**************************/

/*********************************
* Used by [[Template:TOC right]] *
**********************************/
@media all and (min-width: 720px) {
	.tocright {
		float: right;
		clear: right;
		margin: 0 0 0.5em 1em; 
	}
}
/*************************
* End Template:TOC right *
**************************/


/*********************************
* Used by [[Template:key]] *
**********************************/
kbd.key{
	filter: drop-shadow(0 0 1px #808080);
}
/*************************
* End Template:key *
**************************/

/* Additions made after theme redesign */

/************************** START - THEME VARIABLES **************************/

:root{
   --wiki-navigation-tab-padding-top: 1rem;
   --wiki-navigation-tab-padding-bottom: 0.4rem;
   --wiki-navigation-background-image: linear-gradient(to bottom,transparent 0,var(--wiki-navigation-border-color) 100%), linear-gradient(to bottom,transparent 0,var(--wiki-navigation-border-color) 100%);
   --wiki-navigation-selected-border-width: 0px;
   --wiki-navigation-selected-background-image: var(--wiki-navigation-background-image);
   --wiki-logo-image: url(/images/Site-logo.png);
   
   /* mp overrides */
   --mp-box-border-color: var(--wiki-content-body-border-color);
   --main-page-layout-columns--desktop: 4fr 4fr 3fr;
   --main-page-layout-columns--tablet: 3fr 2fr;
   
   
   /* newly made */
   --search-bg-color: color-mix(var(--wiki-body-background-color) 100%, rgba(0, 0, 0, 0.5) 100%);
   
   
   
}

/************************** START - END VARIABLES **************************/

/************************** START - MAIN PAGE /WELCOME/ PAGE STYLING **************************/

:root {
	--mp-box-body-padding: 1rem;
	--mp-box-padding: 0px;
}

.mp-welcome {
	position: relative;
	overflow: hidden;
}

.mpw-logo {
	font-family: Jura;
	font-weight: 800;
	text-transform: uppercase;

	padding-top: 1.3rem;
	margin-top: 0rem;
}

.mp-welcome>a>img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	filter: brightness(0.4);
	mask-image: radial-gradient(ellipse at bottom, white 50%, transparent 90%);
}

.mpw-cont {
	padding: 1rem;

	@media screen and (max-width:500px) {
		padding: unset;
	}
}

.mpw-stats {
	display: flex;
	gap: 1rem;
	justify-content: center;
	font-size: 0.75rem;
	text-transform: uppercase;

	& div a {
		color: #c6db7c;
	}

	@media screen and (max-width:360px) {
		display: none;
	}
}

.mpw-logo img {

	@media screen and (max-width:300px) {
		width: 100%;
		height: auto;
	}
}

.mpw-copy {
	max-width: 800px;
	margin: 0 auto;
}

.mpw-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	padding: 1rem;
	gap: 1rem;
	flex-wrap: wrap;

	@media screen and (max-width:600px) {
		gap: 0.5rem;
	}
}

.mpw-links>div {
	box-sizing: border-box;
	background: #0000007a;
	padding: 7px;
	font-size: 0.75rem;
	position: relative;

	&::before {
		position: absolute;
		content: "";
		inset: 2px;
		transition: inset 0.3s ease-in-out;
	}
}

.mpw-links>div:hover::before {
	--corner-length: 5px;
	--corner-width: 1px;

	position: absolute;
	content: "";
	inset: 0px;
	box-sizing: border-box;
	pointer-events: none;
	background:
		linear-gradient(var(--wiki-navigation-border-color), var(--wiki-navigation-border-color)) top left / var(--corner-length) var(--corner-width) no-repeat,
		linear-gradient(var(--wiki-navigation-border-color), var(--wiki-navigation-border-color)) bottom left / var(--corner-length) var(--corner-width) no-repeat,
		linear-gradient(var(--wiki-navigation-border-color), var(--wiki-navigation-border-color)) top left / var(--corner-width) var(--corner-length) no-repeat,
		linear-gradient(var(--wiki-navigation-border-color), var(--wiki-navigation-border-color)) top right / var(--corner-width) var(--corner-length) no-repeat,
		linear-gradient(var(--wiki-navigation-border-color), var(--wiki-navigation-border-color)) top right / var(--corner-length) var(--corner-width) no-repeat,
		linear-gradient(var(--wiki-navigation-border-color), var(--wiki-navigation-border-color)) bottom left / var(--corner-width) var(--corner-length) no-repeat,
		linear-gradient(var(--wiki-navigation-border-color), var(--wiki-navigation-border-color)) bottom right / var(--corner-width) var(--corner-length) no-repeat,
		linear-gradient(var(--wiki-navigation-border-color), var(--wiki-navigation-border-color)) bottom right / var(--corner-length) var(--corner-width) no-repeat;
}

.mpw-inner {
	justify-content: center;
	text-align: center;
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

/************************** END - MAIN PAGE /WELCOME/ PAGE STYLING **************************/

/************************** START - MAIN PAGE /FEATURES/ PAGE STYLING **************************/

.mp-links {
	display: grid;
	gap: 1.4rem;

	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	@media screen and (max-width:720px) {
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	}

	@media screen and (max-width:530px) {
		gap: 0.75rem;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

  .mp-link-card {
  	--inner-border-padding: 0.35rem;

  	position: relative;
  	background: #ffffff0d;
  	border: 1px var(--wiki-content-border-color) solid;
  	padding: var(--inner-border-padding);
  	display: flex;
  	max-height: clamp(100px, 20vw, 200px);


  	@media screen and (max-width:530px) {
  		height: 50px;
  		width: 100%;
  		--inner-border-padding: 1px;
  		background: #171e17;
  	}
  }
  
    .mp-link-text {
  	height: fit-content;
  	left: var(--inner-border-padding);
  	right: var(--inner-border-padding);
  	top: 50%;
  	transform: translateY(-50%);
  	position: absolute;
  	text-transform: uppercase;
  	text-align: center;
  	font-family: Jura;
  	font-size: 1.2rem;
  	font-weight: 800;
  	line-height: 1.8rem;

  	padding: 0.2rem 0;
  	background: #000000a6;
  	pointer-events: none;

  	@media screen and (max-width:530px) {
  		height: 1.5rem;
  		line-height: 1.5rem;
  		font-size: 1.2rem;
  		background: unset;
  		text-align: left;
  		margin-left: 1rem;
  	}
  }
  
  /* where animation on hover begins from */
  .mp-link-card::before {
  	position: absolute;
  	content: "";
  	inset: 2px;
  	transition: inset 0.3s ease-in-out;

  	@media screen and (max-width:530px) {
  		inset: -1px;
  	}
  }
  
  .mp-link-card:hover {
  	background: var(--wiki-accent-color);
  	border-color:var(--wiki-accent-color);

    @media screen and (max-width:530px) {
        background: color-mix(var(--wiki-accent-color) 50%, black 100%)
    }
    
  	&::before {
  		--corner-length: 16px;
  		--corner-width: 1px;

  		position: absolute;
  		content: "";
  		inset: -7px;
  		box-sizing: border-box;
  		background:
  			linear-gradient(var(--wiki-accent-color), var(--wiki-accent-color)) top left / var(--corner-length) var(--corner-width) no-repeat,
  			linear-gradient(var(--wiki-accent-color), var(--wiki-accent-color)) bottom left / var(--corner-length) var(--corner-width) no-repeat,
  			linear-gradient(var(--wiki-accent-color), var(--wiki-accent-color)) top left / var(--corner-width) var(--corner-length) no-repeat,
  			linear-gradient(var(--wiki-accent-color), var(--wiki-accent-color)) top right / var(--corner-width) var(--corner-length) no-repeat,
  			linear-gradient(var(--wiki-accent-color), var(--wiki-accent-color)) top right / var(--corner-length) var(--corner-width) no-repeat,
  			linear-gradient(var(--wiki-accent-color), var(--wiki-accent-color)) bottom left / var(--corner-width) var(--corner-length) no-repeat,
  			linear-gradient(var(--wiki-accent-color), var(--wiki-accent-color)) bottom right / var(--corner-width) var(--corner-length) no-repeat,
  			linear-gradient(var(--wiki-accent-color), var(--wiki-accent-color)) bottom right / var(--corner-length) var(--corner-width) no-repeat;

  		@media screen and (max-width:530px) {
  			--corner-length: 6px;
  			--corner-width: 1px;
  			inset: -5px;
  		}
  	}

  	& .mp-link-text {
  		color: var(--wiki-content-link-color);
  	}
  }
  
    .mp-card-image {
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }
  
    .mp-card-image img {
  	width: 100%;
  	height: auto;

  	@media screen and (max-width:720px) {

  		width: auto;
  		height: 100%;
  	}

  	@media screen and (max-width:530px) {
  		width: 100%;
  		filter: brightness(0.5);
  		mask-image: linear-gradient(to right, white 50%, transparent 100%);
  	}
  }
  
    .mp-link-card:hover .mp-card-image img {
	transform: scale(1.05);
	transition: transform 0.5s ease-out;
  }

/************************** END - MAIN PAGE /FEATURES/ PAGE STYLING **************************/

/************************** START - MAIN PAGE /VERSION/ PAGE STYLING **************************/

.mp-version {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;


	& .title a {
		font-size: 1.1rem;
		letter-spacing: 0.5px;
		position: absolute;
		inset: 1rem 1rem auto;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--wiki-content-link-color);
		color: #000;
		font-weight: 600;
		--corner-cut: 10px;

		clip-path: polygon(0 0,
				0 100%,
				calc(100% - var(--corner-cut)) 100%,
				100% calc(100% - var(--corner-cut)),
				100% 0);

	    &:visited {
			color: #000;
		}
		
		&:not(:visited) {
          color: #000;
        }
		

		&:hover {
			font-weight: 600;
			background: color-mix(in oklch,var(--wiki-accent-color),black);
			color:var(--wiki-content-link-color);
		}
	}

	& .title::before {
		background: black;
		position: absolute;
		inset: 0;
		content: "";
		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 50%);
	}
}

/************************** END - MAIN PAGE /VERSION/ PAGE STYLING **************************/